extends ./_layout-root.pug
block header
  header.header
    .container-content
      .header-left
        a(href='https://graphicflip.com/').site-branding
          img(src="/img/graphicflip-logo.png", height="60", width="256")
          h1.title.screen-reader-text GraphicFlip
      .menu-toggle
        input(type="checkbox")#menu-toggle
        label(for="menu-toggle").header-right
          span.css-icon-hamburger
            span Toggle
          span Menu
        .menu-toggle-content
          .header-right            
            +menu(data.menu.main, 'menu')
            .expandable-search
              include ./../_includes/search-form.html
            
block content
  != page.content

block footer   
  footer.footer
    .container-readable.section.text-center
      a(href='https://graphicflip.com/')
        img.footer-logo(src="/img/graphicflip-logo.png")
      div <a href="https://superdevresources.com/">Super Dev Resources</a> is a popular destination for finding
        br
        | awesome free resources for independent developers and startups. <a class="text-small" href="https://superdevresources.com/about/">Learn More</a>
      div.section
        +horizontal-menu(data.menu.social)
      div.section
        +horizontal-menu(data.menu.footer)
      p.text-small Copyright © <a href="http://kunruchcreations.com/">KunRuch Creations</a>, All rights reserved.
        br
        | Built with <a href="https://mmpilot.kunruchcreations.com/" target="_blank">mmpilot</a> and <a href="https://mmcss.kunruchcreations.com/" target="_blank">mmcss</a>.

block scripts
  script(src='/scripts/main.js')
