.site-branding img {
    height: 72px;
    padding: 20px 0;
}

.header {
  .button {
    padding: 0 0.5em;
    margin-left: 0.5em;
    line-height: 2.1;
  }

  .button-primary {
    color: #fff;
    opacity: 1;
  }

  h1 {
    margin-top: 0;
    line-height: $size-site-header-height;
    font-weight: normal;
    display: inline-block;
    color: #fff;
  }
}

nav .current-menu-item > a {
  color: #fff;
}

.main {
  min-height: 480px;
}


.footer-logo {
  height: 48px;
  width: auto;
}

.footer a {
    color: $color-footer-default-link!important;
}

.footer .icon {
    width: 1.9rem;
    height: 1.9rem;
}

.footer-social .button.button-text {
  padding: 0 5px 0 0;
}

.footer-social .button.button-text:hover svg {
  fill: #fff;
}

.footer a:hover {
    text-decoration: underline;
}

ins {
  background: transparent;
}
