$color-primary: #8d5992;
$color-background-dark: #2f353e;
$color-header-default-background: #2f353e;
$color-header-default-text: #fff;
$color-footer-default-background: #282e35;
$color-footer-default-text: #999999;
$color-footer-default-link: #bbbbbb;